.searchBarContainer {
  width: 770px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 0;
  border-bottom: thin solid white;
}

.searchBarContainer :global(.vtex-input__sufix) {
  display: none;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background: transparent;
  color: #59ff00;
}

.searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon) {
  color: #59ff00;
}
.imageElement--logo-image {
  max-width: 80px;
  margin-left: 10px;
}
.imageElement--banner2-image,
.imageElement--banner1-image {
  margin: 15px 0 150px 0;
  max-width: 912px;
  border-radius: 20px;
}

/* .searchBarInnerContainer--searchBar :global(#downshift-0-input) {
  background-color: #000;
  border: none;
} */
